<!DOCTYPE html>
<html>
<head>
<style>
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
</head>
<body>


  

<h1>Please select the table you want to update</h1>

<div class="form-check">
<a href="https://holiday23.herokuapp.com/add/form" target="_blank">Update Holidays</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/add/calendar" target="_blank">Update Calendar</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/add/event" target="_blank">Update Events</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/add/timetable" target="_blank">Update Time table</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/add/schedule" target="_blank">Update Exam Schedule</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/add/syllabus" target="_blank">Update Syllabus</a> 
</div>


<h1>Please select the table you want to view</h1>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/getall" target="_blank">View Holiday</a> 
</div>
<br>
<br>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/getcal" target="_blank">View Calendar</a> 
</div>
<br>
<br>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/getevent" target="_blank">View Events</a> 
</div>
<br>
<br>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/get/timetable" target="_blank">View Timetable</a> 
</div>
<br>
<br>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/getschedule" target="_blank">View Exam Schedule</a> 
</div>

<br>
<br>
<div class="form-check">
<a href="https://holiday23.herokuapp.com/getsyllabus" target="_blank">View Syllabus</a> 
</div>

</body>
</html>
